* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif
}

body {
    background: #f8f9ff;
    padding-bottom: 80px
}

.header{
  display:grid;
  grid-template-columns: 40px 1fr 40px;
  align-items:center;
  padding:0px 15px;
  background:#fff;
   position: sticky;
  top: 0;
  z-index: 1;
}

.header .left img{
  width: 3.5rem;
  text-align:left;
}

.header .logo{
  width:200px;
  margin:0 auto;
  border-radius:8px;
}

.header .right{
  width:3.5rem;
  justify-self:end;
}


.header h1 span {
    color: rgb(0, 0, 0)
}

.icon {
    font-size: 20px
}

.section {
    padding: 15px
}

.section h2 {
    margin-bottom: 12px;
    font-size: 1rem;
    color: #1b2b6d
}


.planner {
    display: flex;
    gap: 14px;
}

.planner-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* image box only */
.planner-img {
    width: 100%;
    height: 5.2rem;
    border-radius: 18px;
    background-size: cover;
    background-position: center;
}

/* images */
.img1 {
    background-image: url("images/reserved.jpeg");
}

.img2 {
    background-image: url("images/unreserved.jpeg");
}

.img3 {
    background-image: url("images/platform.jpeg");
}

/* text below image */
.planner-title {
    margin-top: 8px;
    font-size: 0.95rem;
    font-weight: 500;
    color: #3f4a6b;
}



.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px 10px;
}

.item {
    text-align: center;
    font-size: 0.7rem;
}

.icon {
    width: 58px;
    height: 58px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 6px;
}

.icon img {
    width: 3.8rem;
    height: 3.2rem;
    object-fit: cover;
    border-radius: 1rem;
}

.item p {
    margin: 0;
    font-weight: 500;
    line-height: 1.2;
    color: #1f3b6d;
}


.ticket hr {
    margin-top: 8px;
}

hr {
    margin-bottom: 10px;
}


.ticket {
    background: linear-gradient(90deg, #4718a7, #ae43c1);
    color: white;
    padding: 20px;
    border-radius: 20px;
    max-width: 85%;
    font-size: 0.7rem;
    margin: auto;

}

.ticket .btn1 {
    padding: 0.2rem 0.5rem;
}


.ticket .btn2 {
    padding: 0.2rem 0.6rem;
}


.ticket .route {
    display: flex;
    justify-content: space-between;
    margin: 15px 0
}

.status {
    display: flex;
    gap: 10px;
    flex-wrap: wrap
}

.status span {
    color: aquamarine;
    font-weight: 600;
    font-size: 0.9rem;
}

.status button {
    background: transparent;
    border: 1px solid #fff;
    color: #ffffff;
    font-size: 0.6rem;
    border-radius: 20px;
    background: linear-gradient(120deg, #ae43c1, #4718a7);
}

.scroll {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    padding-bottom: 6px;
    -webkit-overflow-scrolling: touch;
}

.scroll::-webkit-scrollbar {
    height: 6px;
}

.scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}


.info-item {
    flex: 0 0 auto;
    width: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-img {
    width: 100%;
    height: 8rem;
    background: #fff;
    border-radius: 14px;
    overflow: hidden;
}

.info-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-item p {
    margin-top: 6px;
    font-size: 0.6rem;
    color: #414c6c;
    margin: 5px 5px;
}


.scroll {
    scroll-snap-type: x mandatory;
}

.info-item {
    scroll-snap-align: start;
}


.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #0a57ff;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    text-align: center
}

.bottom-nav span {
    cursor: pointer
}
.social{
  position: relative;
  background-image: url("images/media.jpeg");
  width: 100%;
  height: 9.5rem;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

/* common invisible button */
.social-link{
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  opacity: 1;
}

/* 🔥 adjust these values according to image */
.x-link{
  left: 4.7rem;
  top: 3.6rem;
}

.insta-link{
  left: 7.5rem;
  top: 3.6rem;
}

.fb-link{
  left: 10.5rem;
  top: 3.6rem;
}

.yt-link{
  left: 13.5rem;
  top: 3.6rem;
}
